#navlogo {
    display: flex;
    flex-direction: row;
    height: 60px;
    padding: 0 50%;
    background-color: #070707;
    z-index: 900;
}

/* nav {
    font-size: 14pt;
    width: 800px;
    display: flex;
    margin-left: 50px;
    justify-content: space-between;
    background-color: #070707;
} */

img {
    width: 180px;
    height: 90px;
}

nav {
    /* margin: 0; */
    position: fixed;
    padding: 4% 15% 2% 15%;
    /* justify-content: center; */
    background-color: #070707;
    vertical-align: sub;
    width: 100%;
    height: 70px;
    z-index: 902;
    /* justify-content: space-around; */
}

li {
    margin: 0 10px;
    width: 15%;
}

.navbar-nav {
    display: flex;
    width: 100%;
}
#navbarNav {
    /* background-color: #070707; */
    width: 50 px;
}
.nav-item{
    width: 150px;
    text-align: center;
}
.navbar-toggler{
    margin-top: -10px;
}
#navbar {
    /* justify-content: space-around;
    width: 100%; */
    padding: 0 0 0 50px;
}

#space {
    height: 50px;
}

#logo {
    width: 150px;
}

#footer {
    background-color: #070707;
    color: white;
}

/* #top {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    position: fixed;
    z-index: 901;
    margin: 0;
    padding: 0;
} */

/* 
.collapse {
    width: auto;
    text-align: top;
} */

/* #allnav {
    position: fixed;
    z-index: 900;
    margin-top: 0;
} */

.navbar-brand {
    padding: 0;
}

#footer p {
    padding: 10px 0;
} 
#footer {
    margin-bottom: 0;
}
