#navlogo {
    /* margin: 0; */
    display: flex;
    flex-direction: row;
    height: 50px;
    padding: 10px 24%;
    /* margin: 0 20%; */
    /* width: 60%; */
    background-color: #070707;
    z-index: 900;
}

nav {
    font-size: 14pt;
    width: 800px;
    display: flex;
    margin-left: 50px;
    justify-content: space-between;
    background-color: #070707;
}

img {
    width: 180px;
    height: 101.25px;
}

#footer {
    background-color: #070707;
    color: white;
    display: flex;
    justify-content: space-around;
}

#top {
    display: flex;
    justify-content: space-evenly;
    /* width: 50%; */
    position: fixed;
}

#footer p {
    margin: 10px 0;
} 