<div id="hometop">
    <img src="../../../assets/img/Paint_Bootha.jpg" alt="painting" id="mainpic">
</div>


<h1>Certifications</h1>
<div class="container">
<div id="certs">
  <ul>
    <li>
      <a href="https://www.ase.com/rb">
        <img src="../../../assets/img/certs/icar.png" alt="icar-cert">
      </a>
    </li>
    <li>
      <a href="https://midatlantic.aaa.com/auto-repair">
        <img src="../../../assets/img/certs/aaa.png" alt="aaa-cert">
      </a>
    </li>
    <li>
      <a href="http://www.fixhybrid.com/acdc-qual/"><img src="../../../assets/img/certs/acdc.png" alt="acdc-cert">
      </a>
    </li>
    <li>
      <a href="http://www.mva.maryland.gov/_resources/docs/MSP-Initial-Application-For-Maryland-Authorized-Inspection-Station-License.pdf">
        <img src="../../../assets/img/certs/ais.png" alt="ais-cert">
      </a>
    </li>
    <li>
      <a href="http://mde.maryland.gov/programs/air/mobilesources/pages/VEIP.aspx">
        <img src="../../../assets/img/certs/greencar.png" alt="green-cert">
      </a>
    </li>
    <li><a href="https://www.angieslist.com/companylist/us/md/columbia/columbia-auto-body-reviews-2340110.htm">
        <img src="../../../assets/img/certs/angies.png" alt="angies-cert">
    </a></li>
    <li>
      <a href="http://mde.maryland.gov/programs/air/mobilesources/pages/VEIP.aspx">
        <img src="../../../assets/img/certs/veip.png" alt="veip-cert">
      </a>
    </li>
  </ul>
</div>
</div>
<div id="bar"></div>

<h1>What People Are Saying</h1>

<!-- <button class"btn btn-danger"></button> -->
<div class="container">
<div class="row">
  <div class="col-4 box">
    <p>
      "Seitan 3 wolf moon id proident, jean shorts meggings slow-carb eiusmod 
      est four dollar toast."
    </p>
    <p>
      - John Lippold Sr
    </p>
  </div>
  <div class="col-4 box">
    <p>
      "Seitan 3 wolf moon id proident, jean shorts meggings slow-carb eiusmod 
      est four dollar toast."
    </p>
    <p>
        - Katherine O'Shizzle
    </p>
  </div>
  <div class="col-4 box">
    <p>
      "Seitan 3 wolf moon id proident, jean shorts meggings slow-carb eiusmod 
      est four dollar toast."
    </p>
    <p>
        - Frederick Corrales III
    </p>
  </div>
</div>
</div>