<div id="hometop">
    <img src="../../../assets/img/Paint_Bootha.jpg" alt="painting" id="mainpic">
</div>


<h1>Certifications</h1>

<div id="certs">
  <!-- <img src="../../../assets/img/bw.png" alt=""> -->
  <ul>
    <li>
      <a href="https://www.ase.com/rb">
        <img src="../../../assets/img/certs/icar.png" alt="icar-cert">
      </a>
    </li>
    <li>
      <a href="https://midatlantic.aaa.com/auto-repair">
        <img src="../../../assets/img/certs/aaa.png" alt="aaa-cert">
      </a>
    </li>
    <li>
      <a href="http://www.fixhybrid.com/acdc-qual/"><img src="../../../assets/img/certs/acdc.png" alt="acdc-cert">
      </a>
    </li>
    <li>
      <a href="http://www.mva.maryland.gov/_resources/docs/MSP-Initial-Application-For-Maryland-Authorized-Inspection-Station-License.pdf">
        <img src="../../../assets/img/certs/ais.png" alt="ais-cert">
      </a>
    </li>
    <li>
      <a href="https://www.ndhealth.gov/wm/publications/Guideline37EnvironmentallyFriendlyAutoAndMetalSalvageFacilities.pdf">
        <img src="../../../assets/img/certs/greencar.png" alt="green-cert">
      </a>
    </li>
    <li><img src="../../../assets/img/certs/angies.png" alt="angies-cert"></li>
    <li><img src="../../../assets/img/certs/veip.png" alt="veip-cert"></li>
  </ul>
</div>

<div id="bar"></div>

<h1>What People Are Saying</h1>

<div id="revs">
  <div class="box">
    <p>
      "Seitan 3 wolf moon id proident, jean shorts meggings slow-carb eiusmod 
      est four dollar toast."
    </p>
    <p>
      - John Lippold Sr
    </p>
  </div>
  <div class="box">
    <p>
      "Duis hexagon air plant, small batch fugiat banjo normcore tousled drinking 
      vinegar trust fund."
    </p>
    <p>
      - Frederick Corrales III
    </p>
  </div>
  <div class="box">
    <p>
      "Umami skateboard humblebrag ramps, squid elit PBR&B actually flannel 
      glossier dolore synth aesthetic ethical."
    </p>
    <p>
      - Katherine O'Shizzle
    </p>
  </div>
</div>
