#mainpic{
    width: 100%;
    height: 100%;
    z-index: -1;
}

#hometop {
    display: flex;
    justify-content: center;
}

h1 {
    margin: 20px auto;
    width: 500px;
    text-align: center; 
}

img {
    height: 100px;
}

#certs {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#certs ul {
    display: inline;
    list-style-type: none;
}

#certs ul li {
    display: inline;
}

#bar {
    height: 5px;
    width: 100%;
    background-color: #070707;
    margin: 50px 0;
}

#revs {
    display : flex;
    justify-content: space-around;
}

.box {
    width: 30%;
    /* height: 200px; */
    margin-bottom: 50px;
    font-size: 18pt;
}

ul li img:hover {
    background-color: #3498db;
    opacity: .9;
    border-radius: 2px;
}
a {
    text-decoration: none;
}

h1 {
    margin-top: 50px;
    margin-bottom: 50px;
}